@{
	ViewBag.Title = "Game Administration - All Games";
}
@section scripts
{
	<script src="~/Scripts/GamesAdminHub.js" type="text/javascript"></script>
}
<button onclick="CreateNewGameDialog()">
	New Game</button>
<ul id="gamesContainer">
	<li gameid="empty" style="display: none">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6 centered">
					<span class="awayTeam"></span>
				</div>
				<div class="span6 centered">
					<span class="homeTeam"></span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 centered">
					<span class="awayScore"></span>
				</div>
				<div class="span6 centered">
					<span class="homeScore"></span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 centered">
					<span class="inningLabel"></span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<span class="outs pull-left"></span>
				</div>
				<div class="span6">
					<span class="countOnBatter pull-right"></span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 centered">
					<span class="runnersOnBase"></span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 centered">
					<span class="lastPlay"></span>
				</div>
			</div>
			<button class="editGame">
				Edit Game Scenario</button>
		</div>
	</li>
	@foreach (GameTrakR.Code.Game game in Model.Games)
 {
		<li gameID="@game.GameID">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span6 centered">
						<span class="awayTeam">@game.AwayTeam</span>
					</div>
					<div class="span6 centered">
						<span class="homeTeam">@game.HomeTeam</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6 centered">
						<span class="awayScore">@game.CurrentGameScenario.AwayScore</span>
					</div>
					<div class="span6 centered">
						<span class="homeScore">@game.CurrentGameScenario.HomeScore</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 centered">
						<span class="inningLabel">@game.CurrentGameScenario.InningLabel</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<span class="outs pull-left">@game.CurrentGameScenario.OutsLabel</span>
					</div>
					<div class="span6">
						<span class="countOnBatter pull-right">@game.CurrentGameScenario.CountOnBatter</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 centered">
						<span class="runnersOnBase">@game.CurrentGameScenario.RunnersOnBase</span>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 centered">
						<span class="lastPlay">@game.CurrentGameScenario.LastPlay</span>
					</div>
				</div>
				<button class="editGame" onclick="CreateScenarioDialog(@game.GameID)">
					Edit Game Scenario</button>
			</div>
		</li>
 }
</ul>
<button onclick="Reset()">
	Reset Games List</button>
