@{
    ViewBag.Title = "Game Groups Dashboard - Only Subscribed Games Update";
}
@section scripts
{
	<script src="~/Scripts/GamesGroupsHub.js" type="text/javascript"></script>
}

<ul id="gamesContainer">
	<li gameID="empty" style="display: none">
		<input class="manageSubscription" type="checkbox" /><div>Subscribed</div>
		<div class="container-fluid no-padding">
			<div class="row-fluid score">
				<div class="span6 centered">
					<div class="awayTeam"></div>
				</div>
				<div class="span6 centered">
					<div class="homeTeam"></div>
				</div>
			</div>
			<div class="row-fluid score scoreRow">
				<div class="span6 centered">
					<div class="awayScore"></div>
				</div>
				<div class="span6 centered">
					<div class="homeScore"></div>
				</div>
			</div>
			<div class="row-fluid inning">
				<div class="span12 centered">
					<div class="inningLabel"></div>
				</div>
			</div>
			<div class="row-fluid inningInfo">
				<div class="span6">
					<div class="outs pull-left"></div>
				</div>
				<div class="span6">
					<div class="countOnBatter pull-right"></div>
				</div>
			</div>
			<div class="row-fluid runnersOn">
				<div class="span12 centered">
					<div class="runnersOnBase"></div>
				</div>
			</div>
			<div class="row-fluid lastPlayInfo">
				<div class="span12 centered">
					<div class="lastPlay"></div>
				</div>
			</div>
		</div>
	</li>
@foreach (GameTrakR.Code.Game game in Model.Games)
{
	<li gameID="@game.GameID">
		<input class="manageSubscription" type="checkbox" onchange="ManageSubscription(@game.GameID)" /><div>Subscribed</div>
		<div class="container-fluid no-padding">
				<div class="row-fluid score">
					<div class="span6 centered">
						<div class="awayTeam">@game.AwayTeam</div>
					</div>
					<div class="span6 centered">
						<div class="homeTeam">@game.HomeTeam</div>
					</div>
				</div>
				<div class="row-fluid score scoreRow">
					<div class="span6 centered">
						<div class="awayScore">@game.CurrentGameScenario.AwayScore</div>
					</div>
					<div class="span6 centered">
						<div class="homeScore">@game.CurrentGameScenario.HomeScore</div>
					</div>
				</div>
				<div class="row-fluid inning">
					<div class="span12 centered">
						<div class="inningLabel">@game.CurrentGameScenario.InningLabel</div>
					</div>
				</div>
				<div class="row-fluid inningInfo">
					<div class="span6">
						<div class="outs pull-left">@game.CurrentGameScenario.OutsLabel</div>
					</div>
					<div class="span6">
						<div class="countOnBatter pull-right">@game.CurrentGameScenario.CountOnBatter</div>
					</div>
				</div>
				<div class="row-fluid runnersOn">
					<div class="span12 centered">
						<div class="runnersOnBase">@game.CurrentGameScenario.RunnersOnBase</div>
					</div>
				</div>
				<div class="row-fluid lastPlayInfo">
					<div class="span12 centered">
						<div class="lastPlay">@game.CurrentGameScenario.LastPlay</div>
					</div>
				</div>
			</div>
	</li>
}
</ul>